@import "tailwindcss";

@theme {
  --color-bg-light: #F7F7FF;
  --color-text-light: #1A1A1A;

  --color-bg-dark: #1A1A2E;
  --color-text-dark: #F7F7FF;
  --color-accent-dark: #27187E;
}

:root {
  --color-bg: var(--color-bg-light);
  --color-text: var(--color-text-light);
  --color-accent: var(--color-accent-dark); /* Accent is mainly for dark mode */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: var(--color-bg-dark);
    --color-text: var(--color-text-dark);
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
